#Settings configured in pillar will override default settings specified in map.jinja
netbanner:
  lookup:
    version: '2.1.161'
    admx_source: 'salt://netbanner/netbannerfiles/netbanner.admx'
    adml_source: 'salt://netbanner/netbannerfiles/netbanner.adml'

  network_label: ''

#Background Color Key
### Black       = 6
### Blue        = 2
### Green       = 1
### Orange      = 9
### Purple      = 8
### Red         = 3
### SaddleBrown = 7
### White       = 5
### Yellow      = 4

#Foreground (Text) Color Key
### Black       = 1
### Red         = 3
### White       = 2

  custom_network_labels:
    purplenetwork:
      CustomBackgroundColor: '8'
      CustomDisplayText: 'This is a purple network banner'
      CustomForeColor: '2'
    bluenetwork:
      CustomBackgroundColor: '2'
      CustomDisplayText: 'This is a blue network banner'
      CustomForeColor: '2'
