#Settings configured in pillar will override default settings specified in map.jinja
netbanner:
  lookup:
    version: '2.1.161'
    admx_source: 'salt://netbanner/netbannerfiles/netbanner.admx'
    adml_source: 'salt://netbanner/netbannerfiles/netbanner.adml'

  network_string: 'default'

  custom_network_banner:
    CustomBackgroundColor: '8'
    CustomDisplayText: 'No network banner configured'
    CustomForeColor: '2'
    CustomSettings: '1'

#Background Color Key
### Black       = 6
### Blue        = 2
### Green       = 1
### Orange      = 9
### Purple      = 8
### Red         = 3
### SaddleBrown = 7
### White       = 5
### Yellow      = 4

#Foreground (Text) Color Key
### Black       = 1
### Red         = 3
### White       = 2
