# Initialize 'netbanner' lookup dictionary with default settings
{% set netbanner = { 
    'version'        : '2.1.161',
    'admx_source'    : 'salt://netbanner/netbannerfiles/netbanner.admx',
    'adml_source'    : 'salt://netbanner/netbannerfiles/netbanner.adml',
    'CustomBackgroundColor' : '5',
    'CustomDisplayText'     : 'No network label configured',
    'CustomForeColor'       : '1',
    'CustomSettings'        : '1',    
} %}

# Define lookup dictionary of netbanner version dependencies
{% set dependencies = {
    '1.3.93'  : { 'dotnet_versions' : ['2'],
                },
    '2.1.161' : { 'dotnet_versions' : ['4'],
                },
} %}

# Override default settings with user-defined pillar data, if available
{% do netbanner.update(salt['pillar.get']('netbanner:lookup')) %}

# Add version dependencies to the netbanner settings dictionary
{% do netbanner.update(dependencies[netbanner['version']]) %}

#Background Color Key
### Black       = 6
### Blue        = 2
### Green       = 1
### Orange      = 9
### Purple      = 8
### Red         = 3
### SaddleBrown = 7
### White       = 5
### Yellow      = 4

#Foreground (Text) Color Key
### Black       = 1
### Red         = 3
### White       = 2

# Define lookup dictionary of banner settings for the known network labels
{% set network_label_lookup = { 
    'Unclass' : { 'CustomBackgroundColor' : '1',
                  'CustomDisplayText'     : 'UNCLASSIFIED',
                  'CustomForeColor'       : '2',
                },
    'NIPR'    : { 'CustomBackgroundColor' : '1',
                  'CustomDisplayText'     : 'UNCLASSIFIED//FOUO',
                  'CustomForeColor'       : '2',
                },
    'SIPR'    : { 'CustomBackgroundColor' : '3',
                  'CustomDisplayText'     : 'SECRET AND AUTHORIZED TO PROCESS NATO SECRET',
                  'CustomForeColor'       : '2',
                },
    'JWICS'   : { 'CustomBackgroundColor' : '4',
                  'CustomDisplayText'     : 'TOPSECRET//SI/TK/NOFORN                  **G//HCS//NATO SECRET FOR APPROVED USERS IN SELECTED STORAGE SPACE**',
                  'CustomForeColor'       : '2',
                },
} %}

# Import user-defined network banner settings from pillar, if available.
{% do network_label_lookup.update(salt['pillar.get']('netbanner:custom_network_labels', {})) %}

# Get the network label from pillar, or a grain
{% set network_label = salt['pillar.get']('netbanner:network_label', salt['grains.get']('netbanner:network_label', '')) %}

# Update 'netbanner' with specified settings from the network label
#If an unknown label is specified, the default settings from the 'netbanner' initialization remain in place.
{% do netbanner.update(network_label_lookup.get(network_label, {})) %}

# Get the SYSTEMROOT value from the registry
{% set systemroot = salt['reg.read_key']('HKEY_LOCAL_MACHINE', 'SOFTWARE\Microsoft\Windows NT\CurrentVersion', 'SystemRoot') %}

# Get the directory corresponding to the %programfilesx86% env variable
{% set programfilesx86 = salt['cmd.run']('${env:ProgramFiles(x86)}', shell='powershell') %}

# Update netbanner settings with required filename locations
{% do netbanner.update({
    'admx_name'     : systemroot + '\\PolicyDefinitions\\NetBanner.admx',
    'adml_name'     : systemroot + '\\PolicyDefinitions\\en-US\\NetBanner.adml',
    'netbanner_exe' : programfilesx86 + '\\Microsoft\\NetBanner\\NetBanner.exe',
}) %}
